<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/docs/da_intro.html">Introduction</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/da_setup.html">Setup</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/da_tutorial.html">Tutorial</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/da_ref.html">Command Reference</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/da_release-notes.html">Release Notes</a>
        </li>
    </ul>
</div>
